<div class="container mb-5 mt-3">
  <form id="calculattorForm" [formGroup]="calculadoraForm" (ngSubmit)="onSubmit(buttonType)" class="form-horizontal">
      <div class="panel panel-primary">
          <div class="panel-heading">
              <h3 class="panel-title text-center mb-4" style="font-size: 20px;">Calculadora números complejos</h3>
          </div>
      </div>

      <div class="panel-body">
        <div class="row mb-3">
          <div class="d-flex align-items-end col form-group text-center">
            <label class="col-sm-2 control-label" style="font-size: 16px;" for="real1">Número 1</label>
            <div class="col-sm-8" id="input1">
                <input id="real1" formControlName="real1" type="text" class="form-control" placeholder="Número real 1">
            </div>
          </div>
          <div class="d-flex align-items-end col form-group text-center">
              <label class="col-sm-2 control-label" style="font-size: 16px;" for="img1"></label>
              <div class="col-sm-8">
                  <input id="img1" formControlName="img1" type="text" class="form-control" placeholder="Número imaginario 1">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="d-flex align-items-end col form-group text-center">
          <label class="col-sm-2 control-label" style="font-size: 16px;" for="real2">Número 2</label>
          <div class="col-sm-8">
            <input id="real2" formControlName="real2" type="text" class="form-control" placeholder="Número real 2">
          </div>
        </div>
        <div class="d-flex align-items-end col  form-group text-center">
          <label class="col-sm-2 control-label" style="font-size: 16px;" for="img2"></label>
          <div class="col-sm-8">
              <input id="img2" formControlName="img2" type="text" class="form-control" placeholder="Número imaginario 2">
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="d-flex align-items-end col form-group text-center">
        <div class="panel-footer mt-3 text-center mt-4">
          <button class="btn btn-primary" type="submit" (click)="onSubmit('suma')">Suma</button>
        </div>
      </div>
      <div class="d-flex align-items-end col  form-group text-center">
        <div class="panel-footer mt-3 text-center mt-4">
          <button class="btn btn-primary" type="submit" (click)="onSubmit('resta')">Resta</button>
        </div>
      </div>
      <div class="d-flex align-items-end col  form-group text-center">
        <div class="panel-footer mt-3 text-center mt-4">
          <button class="btn btn-primary" type="submit" (click)="onSubmit('mult')">Multiplicación</button>
        </div>
      </div>
      <div class="d-flex align-items-end col  form-group text-center">
        <div class="panel-footer mt-3 text-center mt-4 ">
          <button class="btn btn-primary" type="submit" (click)="onSubmit('div')">División</button>
        </div>
      </div>
    </div>
  </form>

  <div class="container mt-4 text-white text-center rounded pt-2 pb-1" style="background-color: dimgrey;">
      <p class="text-justify" style="font-size: 20px;">Resultado</p>
      <p style="font-size: 20px;"><b>{{ resultado }}</b></p>
  </div>
</div>
