<div class="text-center">
  <header>
    <div class="container d-flex align-items-center flex-column pt-5 pb-4">
      <h1 class="text-uppercase mb-0">Pruebas de software</h1>
      <br>
      <p class="masthead-subheading font-weight-light mb-0" style="font-size: 20px;">
        <b>Nombre:</b> Brian Sánchez Robles
        <br><b>Matrícula:</b> S19004873
        <br><b>Tema:</b> Raíz cuadrada de -1
        <br><b>Tecnologías utilizadas:</b> Angular y firebase
      </p>
    </div>
  </header>
  <br>

  <section class="container text-justify">
    <p style="font-size: 16px; text-align: justify;">
      <b>La raíz cuadrada de un número negativo no existe entre el conjunto de números reales.</b>
      En un esfuerzo por abordar este problema, los matemáticos "crearon" un nuevo número, i, que se
      denominó "número imaginario", ya que no estaba en el conjunto de "Números reales". Este nuevo
      número fue visto con mucho escepticismo. El número imaginario apareció impreso por primera vez en el año 1545.
    </p>
    <p style="font-size: 20px;">
      <b>El número imaginario <i>"i"</i> es la raíz cuadrada del uno negativo.</b>
    </p>
    <p style="font-size: 16px; text-align: justify;">
      A medida que continuaba la investigación con números imaginarios, se descubrió que en realidad llenaban un vacío
      en matemáticas y cumplían un propósito útil. Los números imaginarios son esenciales para el estudio de ciencias
      como la electricidad, la mecánica cuántica, el análisis de vibraciones y la cartografía.
      Cuando el <i>i</i> imaginario se combinó con el conjunto de Números Reales, se formó el conjunto de Números Complejos
      que lo abarca todo.
    </p>
    <p style="font-size: 20px;">
      <b>Un número complejo es un número real a, o un número imaginario puro b<i>i</i>, o la suma de ambos.
        Los números complejos se escriben en la forma estándar a + b<i>i</i>.</b>
    </p>
  </section>

  <calculadora-component></calculadora-component>

  <footer class="page-footer font-small blue pt-4" style="background-color: darkslategray;">
    <div class="footer-copyright text-center py-3" style="color: white;">
      <p>Este programa fue elaborado para la EE de Pruebas de Software impartida por el Dr. Adolfo Centeno Tellez</p>
    </div>
  </footer>
</div>
